@page "/detail/{name}"

@using Pin.OpenData.Blazor.Models
@using Pin.OpenData.Blazor.Services

@inject ILocationService LocationService

<h3>Detail: @location.Name</h3>

@if (location == null)
{
	<p>Loading...</p>
}
else
{
    <div>
        <p><strong>Name:</strong> @location.Name</p>
        <p><strong>Street:</strong> @location.StreetName @location.HouseNumber</p>
        <p><strong>Postal Code:</strong> @location.PostalCode</p>
		@if (location.City != null)
		{
			<p><strong>City:</strong> @location.City</p>
		}
		else
		{
			<p><strong>City:</strong> Gent</p>
		}
		@if (location.Website != null)
		{
			<p><strong>Website:</strong> <a href="@location.Website" target="_blank">@location.Website</a></p>
		}
		@if (location.Email != null)
		{
			<p><strong>Email:</strong> <a href="mailto:@location.Email">@location.Email</a></p>
		}
	</div>
}

@code {
	[Parameter]
	public string name { get; set; }

	Location location;

	protected override void OnInitialized()
	{
		location = LocationService.GetLocation(name);
	}
}
